import { DomainConfig } from '@tycoon/core';

export const options: DomainConfig = {
  author: 'YOUR_NICKNAME',
  game: 'YOUR_STRATEGY',
  player: 'PLAYER_ID',
  access_token: 'ACCESS_TOKEN',
  connectionId: 'CONNECTION_ID',
  mainDomain: 'MAIN_DOMAIN.com',
  sitePrefix: 'SITE_PREFIX',
  sitePostfix: 'SITE_POSTFIX'
};
